<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-collapse navbar-collapse-1 collapse" aria-expanded="true">
      
    </div>
  </div>
</div>
<div class="container">
	<div class="row">
		
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-info">
				<div class="panel-heading" style="background-color:#E8F5FD">
					<div class="media ">
						<div class="media-body flex-container ">
							
							<div class=" flex-item">
								<form ngNativeValidate class="form-inline"(submit)="getTweets(searchTweet)" >
		  
								<div class="input-group  has-feedback mobile">
								<input [(ngModel)]="searchTweet" name="tweet"  autocomplete="off" class="form-control" type="search" placeholder="#ManUnited OR #GSW" aria-label="Search" required="required" >
								<span class="input-group-btn">
							        <button class="btn btn-default" type="submit">Go!</button>
							    </span>
								</div>
								</form>
							</div>	
							<div class="flex-item">
									<input type="number" max="200" step="1" (click)="changeRows(numLimit)" name="numLimit"  [(ngModel)]="numLimit" ng-init="numLimit=5" class="form-control mobile " value="200" placeholder="Count" >

							</div>

							<div class="flex-item">
								<button (click)="sort('favorite_count')" class="btn btn-primary">Faviourite 
									<span class="glyphicon glyphicon-triangle-bottom"*ngIf="!visible"  aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-top" *ngIf="visible" aria-hidden="true"></span>
								
								</button>
							</div>

							<div class="flex-item">
								<button (click)="sort('retweet_count')" class="btn btn-primary">Comment 
									<span class="glyphicon glyphicon-triangle-bottom"*ngIf="!visibleComment"  aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-top" *ngIf="visibleComment" aria-hidden="true"></span>
								</button>	
							</div>
							<div class="flex-item">
								<button (click)="sort('created_at')" class="btn btn-primary">Latest 
									
								</button>	
							</div>
							
							
						</div>
					</div>
				</div>
				<div class="panel-body">
					
					<div *ngIf="tweets.length>0;else noresult ">
						
					<div class="tw-block-parent" *ngFor="let tweet of tweets | slice:0:numLimit | orderBy: {property: column, direction: direction}	">
					    <app-tweet [tweet]="tweet"></app-tweet>
					</div>
					</div>
					<ng-template #noresult >No Result Found</ng-template>
					
				</div>
			</div>

		</div>

		
	</div>
</div>
