<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-collapse navbar-collapse-1 collapse" aria-expanded="true">
      <!--<ul class="nav navbar-nav">
        <li class="active">
          <a href="#fake"><span class="glyphicon glyphicon-home"></span> Twitter Content App</a>
        </li>
        
      </ul>-->
      
    </div>
  </div>
</div>
<div class="container">
	<div class="row">
		
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading" style="background-color:#E8F5FD">
					<div class="media ">
						<div class="media-body row ">
							
							<div class="col-sm-4 col-xs-12 ">
								<form ngNativeValidate class="form-inline"(submit)="getTweets(searchTweet)" >
		  
								<div class="input-group  has-feedback mobile">
								<input [(ngModel)]="searchTweet" name="tweet"  autocomplete="off" class="form-control" type="search" placeholder="Search" aria-label="Search" required="required" >
								<span class="input-group-btn">
							        <button class="btn btn-default" type="submit">Go!</button>
							    </span>
								</div>
								</form>
							</div>	
							<div class="col-sm-2 col-xs-12">
									<input type="number" (click)="changeRows(numLimit)" name="numLimit"  [(ngModel)]="numLimit" class="form-control mobile " value="200" placeholder="Count" >

							</div>

							<div class="col-sm-3 col-xs-12 mobile">
								<button (click)="sort('favorite_count')" class="btn btn-primary">Sort By Faviourite 
									<span class="glyphicon glyphicon-triangle-bottom"*ngIf="!visible"  aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-top" *ngIf="visible" aria-hidden="true"></span>
								
								</button>
							</div>

							<div class="col-sm-3  col-xs-12 mobile">
								<button (click)="sort('retweet_count')" class="btn btn-primary">Sort By Comment 
									<span class="glyphicon glyphicon-triangle-bottom"*ngIf="!visibleComment"  aria-hidden="true"></span>
									<span class="glyphicon glyphicon-triangle-top" *ngIf="visibleComment" aria-hidden="true"></span>
								</button>	
							</div>
							
							
						</div>
					</div>
				</div>
				<div class="panel-body">
					<!-- tw-block parent-->
					<div class="tw-block-parent" *ngFor="let tweet of tweets | slice:0:numLimit | orderBy: {property: column, direction: direction}	">
					    <app-tweet [tweet]="tweet"></app-tweet>
					  </div>
					

				</div>
			</div>

		</div>

		
	</div>
</div>
